<html>


<body>

    <table width="100%" style="font-family: sans-serif;" cellpadding="10">
        <tr>
            <td width="100%" style="padding: 0px; text-align: center;">
              <img src="/Users/zahracarthagechouchane/Desktop/kiftrip/public/uploads/logo.png" width="264" height="110" alt="Logo" align="center" border="0">
            </td>
        </tr>
        <tr>
            <td width="100%" style="text-align: center; font-size: 20px; font-weight: bold; padding: 0px;">
              INVOICE
            </td>
        </tr>
        <tr>
          <td height="10" style="font-size: 0px; line-height: 10px; height: 10px; padding: 0px;">&nbsp;</td>
        </tr>
    </table>

    <table width="100%" style="font-family: sans-serif;" cellpadding="10">

        <tr>
            <td width="49%" style="border: 0.1mm solid #eee;">Zahra carthage chouchane<br>Kiftrip<br>El Ghazela<br>Ariana<br>2083<br>Touness</td>
            <td width="2%">&nbsp;</td>
            <td width="49%" style="border: 0.1mm solid #eee; text-align: right;"><strong>Kiftrip</strong><br>00-00 ABC Aare<br>Country Name<br>123 456<br><br><strong>Telephone:</strong> +00 000 000 0000<br><a href="#" target="_blank" style="color: #000; text-decoration: none;">companyname.com</a><br><a href="#" target="_blank" style="color: #000; text-decoration: none;">companyname.com</a><br><a href="#" target="_blank" style="color: #000; text-decoration: none;">companyname.com</a><br><a href="#" target="_blank" style="color: #000; text-decoration: none;">companyname.com</a><br></td>
        </tr>
    </table>
    <br>
    <table width="100%" style="font-family: sans-serif; font-size: 14px;" >
        <tr>
            <td>
                <table width="60%" align="left" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">&nbsp;</td>
                    </tr>
                </table>
                <table width="40%" align="right" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Booking Reference</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">XXXXXXXX</td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Lead Passenger</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">Pessenger Name</td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Invoice Date</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">XX/XX/XXXX</td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Balance Due Date</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">XX/XX/XXXX</td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Departure Date</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">XX/XX/XXXX</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table class="items" width="100%" style="font-size: 14px; border-collapse: collapse;" cellpadding="8">
        <thead>
            <tr>
                <td width="15%" style="text-align: left;"><strong>PAX</strong></td>
                <td width="45%" style="text-align: left;"><strong>Description</strong></td>
                <td width="20%" style="text-align: left;"><strong>Amount</strong></td>
                <td width="20%" style="text-align: left;"><strong>Total Trip Cost</strong></td>
            </tr>
        </thead>
        <tbody>
            <!-- ITEMS HERE -->
            <tr>
                <td style="padding: 0px 7px; line-height: 20px;"></td>
                <td style="padding: 0px 7px; line-height: 20px;">Split to Dubrovnik Luxury Cruise on Mama Marija</td>
                <td style="padding: 0px 7px; line-height: 20px;"></td>
                <td></td>
            </tr>
            <tr>
                <td style="padding: 0px 7px; line-height: 20px;">
                    <br>
                </td>
                <td style="padding: 0px 7px; line-height: 20px;">
                    <br>
                </td>
                <td style="padding: 0px 7px; line-height: 20px;">
                    <br>
                </td>
                <td style="padding: 0px 7px; line-height: 20px;">
                    <br>
                </td>
            </tr>
            <tr>
                <td style="padding: 0px 7px; line-height: 20px;">2</td>
                <td style="padding: 0px 7px; line-height: 20px;">VIP cabin with Private Balcony</td>
                <td style="padding: 0px 7px; line-height: 20px;">£1,295.00</td>
                <td style="padding: 0px 7px; line-height: 20px;">£2,590.00</td>
            </tr>
            <tr>
                <td style="padding: 0px 7px; line-height: 20px;">2</td>
                <td style="padding: 0px 7px; line-height: 20px;">Lower deck cabin</td>
                <td style="padding: 0px 7px; line-height: 20px;">£000.00</td>
                <td style="padding: 0px 7px; line-height: 20px;">£000.00</td>
            </tr>
            <tr>
                <td style="padding: 0px 7px; line-height: 20px;">2</td>
                <td style="padding: 0px 7px; line-height: 20px;">EasyJet extra legroom seats</td>
                <td style="padding: 0px 7px; line-height: 20px;">£000.00</td>
                <td style="padding: 0px 7px; line-height: 20px;">£000.00</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table width="100%" style="font-family: sans-serif; font-size: 14px;" >
        <tr>
            <td>
                <table width="60%" align="left" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">&nbsp;</td>
                    </tr>
                </table>
                <table width="40%" align="right" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Total Amount</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">£000.00</td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Deposit</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">£000.00</td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Commission</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">£000.00</td>
                    </tr>
                    <tr>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;"><strong>Remaining Balance</strong></td>
                        <td style="border: 1px #eee solid; padding: 0px 8px; line-height: 20px;">Remaining Balance</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <table width="100%" style="font-family: sans-serif; font-size: 14px;" >
        <br>
        <tr>
            <td>
                <table width="25%" align="left" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">
                            <img src="img/protected.png" alt="protected" style="display: block; margin: auto;">
                        </td>
                    </tr>
                </table>
                <table width="50%" align="left" style="font-family: sans-serif; font-size: 13px; text-align: center;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">
                            <strong>Company Name</strong>
                            <br>
                            ABC AREA
                            <br>
                            Tel: +00 000 000 0000 | Email: info@companyname.com
                            <br>
                            Company Registered in Country Name. Company Reg. 12121212.
                            <br>
                            VAT Registration No. 021021021 | ATOL No. 1234
                        </td>
                    </tr>
                </table>
                <table width="25%" align="right" style="font-family: sans-serif; font-size: 14px;" >
                    <tr>
                        <td style="padding: 0px; line-height: 20px;">
                            <img src="img/abtot.png" alt="abtot" style="display: block; margin: auto;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <br>
    </table>
</body>

</html>