
{% extends 'test.html.twig' %}
{% block body %}
    <h1> Ajouter une Reservation Evennement </h1>
    {{ form (form)}}
    <a class="btn btn-danger" href="{{ path('listres') }}"> Go TO List </a>

{% endblock %}