{% extends 'dashboard.html.twig' %}
{% block body %}
<div class="app-content">
        <div class="side-app">
            <div class="page-header">
                <h4 class="page-title">statistiques</h4>
                
            </div>
    <div id="div_chart"></div>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
</div>
</div>
{% endblock %}